<configuration>
    <timestamp key="startTimestamp" datePattern="yyyy_MM_dd_HH_mm_ss"/>
    <appender name="StartupRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:::%.-1level %msg%n</Pattern>
        </layout>

        <file>${LOG_LOCATION}/ettl-app-${startTimestamp}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>ettl-app-${startTimestamp}-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!-- keep 7 days' worth of history -->
            <MaxHistory>7</MaxHistory>

            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%magenta(%thread)] %highlight(%.-1level) %cyan(%-30(%logger{25})) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s.server.blaze" level="info"/>
    <logger name="org.http4s.blaze.channel" level="warn"/>
    <logger name="org.http4s.blaze.pipeline" level="error"/>
    <logger name="hu.szigyi.ettl" level="debug"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="StartupRollingFile"/>
    </root>
</configuration>